<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/site.css" />
    <title><?php echo $title; ?></title>
</head>
<body>

<div id="content">
    <h1><?php echo $title; ?></h1>
    <?php include $layout_content; ?>
</div>

</body>
</html>