<form method="post" action="/index/add-do">

<p>标题:<input type="text" name="title" ></p>
<p>作者:<input type="text" name="author" ></p>
<p>内容:<textarea name="content"></textarea></p>

 <input type="submit" value="提交" >

</form>