<table>
    <tr>
        <td><?php echo $story['id']; ?></td>
        <td><?php echo $story['title']; ?></td>
        <td><?php echo $story['author']; ?></td>
        <td><?php echo $story['create_time']; ?></td>
    </tr>
</table>