<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="Generator" content="EditPlus®">
        <meta name="Author" content="">
        <meta name="Keywords" content="">
        <meta name="Description" content="">
        <title><?php echo $title; ?></title>
    </head>

    <body>

        <h1>Title: <?php echo $title; ?></h1>
        <hr>

        <h2><?php echo $key; ?></h2>

    </body>
</html>
